//나눔스퀘어 웹폰트
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
  font-family: 'NanumSquare';
  src: url('NanumSquareB.eot');
  font-weight: bold;
  font-style: normal;
}

//디폴트
*{
	box-sizing: border-box;
}
html,
body {
	font-size: 6.25%;
	margin:0;
	padding:0;
  font-family: 'NanumSquare', sans-serif;
  word-break: keep-all;
	overflow-x: hidden;
}
button{
	border:0;
	outline: 0;
}
input[type="text"], input[type="textarea"], input[type="checkbox"], select, button{
	margin-right:0;
	border: none;
	border-radius: 0;
	background: #fff;
}
h1, h2, h3,h4,h5, h6, p, ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color:#000
}
em, i, b, address{
	text-decoration: none;
	font-style: normal;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}


.strong{
  font-weight: 700;
}
.main_style{
  padding: 100rem 0;
  width: 100%;
  min-height: 300rem;
}
.w-1200{
  margin: 0 auto;
  width: 1200rem;
  .section_title{
    margin-bottom: 50rem;
    font-size: 36rem;
    color: #d8762c;
  }
}


#header{
  width: 100%;
  height: 150rem;
  border-bottom: 1rem solid #bcbcbc;
  .logo_title{
    width: 100%;
    height: 100rem;
    border-bottom: 1rem solid #bcbcbc;
    text-align: center;
    .img_wrap{
      margin-top: 10rem;
      display: inline-block;
      width: 500rem;
      height: 80rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  
  .gnb{
    margin: 0 auto;
    max-width: 1300rem;
    height: 50rem;
    font-size: 18rem;
    .depth1{
      display: flex;
      align-items: flex-start;
      li{
        position: relative;
        flex:1;
        text-align:center;
        line-height: 50rem;
      }
      .depth2{
        position: absolute;
        z-index: 200;
        display: none;
        padding: 10rem;
        width: 100%;
        background-color: #fff;
        li{
          padding:10rem;
          text-align: left;
          font-size: 16rem;
          line-height: 10rem;
          border:none;
          &:hover{
            background-color: #666;
            a{
              color: #fff;
            }
          }
        }
      }
      
    }
  }
}

.side_quick_menu{
  position: fixed;
  top:50%;
  transform:translateY(-50%);
  right:1%;
  z-index: 9999;
  width: 120rem;
  .quick_menu{
    li{
      margin-bottom: 10rem;
      display: flex;
      transition: 300ms;
      column-gap: 5rem;
      font-size: 15rem;
      &:hover{
        transition:300ms;
        transform: translateX(-30rem);
        cursor: pointer;
        .img_wrap{
          transition: 300ms;
          background-color: #f59518;
        }
      }
      &:last-child{
        .img_wrap{
          img{
            width: 60%;
            height: 60%;
          }
        }
        
      }
      .img_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48rem;
        height: 48rem;
        border-radius: 50%;
        background-color: #454545;
        img{
          width: 80%;
          height: 80%;
          object-fit: contain;
        }
      }
      span{
        display: flex;
        align-items: center;
      }
    }
    
    
  }
}

.img_slide{
  width: 100%;
  height: calc(100vh - 150rem);
}

.banner_menu{
  ul{
    margin: 01 auto;
    display: flex;
  }
  a{
    position: relative;
    display: inline-block;
    width: 240rem;
    height: 250rem;
    &:hover{
      &::after{
        position: absolute;
        left:0;
        top:0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 100;
      }
    }
    
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.fixed_banner{
  position: relative;
  height: 660rem;
  background: url(/img/main/bg_fixed.jpg) fixed no-repeat center center / cover;
  .txt_con{
    position: absolute;
    top:30%;
    right:15%;
    width: 600rem;
    height: 450rem;
    color:#fff;
    .h2{
      font-size: 42rem;
      font-weight: 700;
    }
    span{
      margin-top:50rem;
      display: inline-block;
      font-size: 22rem;
      color:rgba(255, 255, 255, 0.6);
      line-height: 35rem;
    }
  }
}

.notice_location{
  height: 100%;
  background-color: #efefef;
  .w-1200{
    display: flex;
    height: 350rem;
    .notice{
      padding:30rem;
      width: 50%;
      height: 100%;
      background-color: #fff;
      .notice_title{
        padding-bottom: 10rem;
        display: flex;
        justify-content: space-between;
        font-size: 25rem;
        font-weight: 900;
        border-bottom: 1rem solid #bcbcbc;
        span{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30rem;
          height: 30rem;
          border-radius: 50%;
          background-color: #f59518;
          img{
            width: 50%;
            height: 50%;
            object-fit: contain;
          }
        }
      }
      .notice_list{
        padding:7rem 0;
        ul{
          li{
            display: flex;
            padding:7rem 0;
            justify-content: space-between;
            font-size: 16rem;
            a{
              color: #666;
            }
            span{
              font-weight: 700;
              color: #ccc;
            }
          }
        }
      }
    }
    .location{
      display: flex;
      width: 50%;
      height: 100%;
      .txt_location{
        flex:1;
        padding: 20rem 12rem;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        text-align: center;
        width: 200rem;
        height: 100%;
        color:#fff;
        background-color: #404040;
        .con{
          width: 100%;
          .bold{
            font-size: 25rem;
            font-weight: 900;
          }
          span{
            margin-top:30rem;
            display: inline-block;
            font-size: 18rem;
          }
          p{
            font-size: 17rem;
            font-weight: bold;
          }
          i{
            margin-top: 30rem;
            display: inline-block;
            color: #f59518;
            font-size: 25rem;
            font-weight: 900;
          }
        }
      }
      .map_api{
        flex:2.5;
        background-color: #f59518;
      }
    }
  }
}

#footer{
  width: 100%;
  .fnb_section{
    width: 100%;
    height: 50rem;
    border-top:1rem solid #bcbcbc;
    border-bottom: 1rem solid #bcbcbc;
    .fnb{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50rem;
      font-size: 16rem;
      li{
        padding:0 35rem;
        border-right: 1rem solid #bcbcbc;
        &:last-child{
          border: none;
        }
      }
    }
  }
  
  .address{
    margin:0 auto;
    padding: 30rem 0;
    text-align: center;
    width: 1200rem;
    height: 300rem;
    .img_wrap{
      margin:0 auto;
      width: 280rem;
      height: 50rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .footer_con{
      margin:50rem auto 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      row-gap: 20rem;
      font-size: 16rem;
      li{
        padding: 0 30rem;
        border-right: 1rem solid #bcbcbc;
        &:nth-child(n+4):nth-child(-n+5){
          border:none
        }
      }
    }
    span{
      margin-top: 30rem;
      display: inline-block;
      font-size: 16rem;
    }
  }
}


.sub_style{
  padding: 80rem 0;
  width: 100%;
  min-height: 380rem;
  @for $i from 1 to 9 {
    &.bg0#{$i} {
      position: relative;
      background: url(/img/sub/sub_top/sub_top_0#{$i}.jpg) center center / cover;
    }
  }
}

.sub_top{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 380rem;
  background-color: rgba(16,34,105,0.3);
  .sub_top_txt{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
    max-width: 670rem;
    // height: 120rem;
    color: #fff;
    .h1{
      font-size: 54rem;
    }
    em{
      margin-top: 20rem;
      display: inline-block;
      font-size: 23rem;
    }
  }
}

.doc_intro{
  margin-bottom: 100rem;
  display: flex;
  justify-content: space-between;
  .txt_con{
    flex:1;
    font-size: 18rem;
    .name{
      font-size: 34rem;
      font-weight: 300;
    }
    .career{
      margin-top:30rem;
      li{
        padding: 5rem 0;
      }
      .strong{
        font-size: 24rem;
      }
    }
  }
  .img_wrap{
    flex:1;
    width: 600rem;
    height: 600rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.doc_intro_{
  background: url(/img/sub/doc_intro_01.jpg) no-repeat center center #a8a4a4;
}
.scar_treat_{
  background: url(/img/sub/burnclinic02_03.jpg) no-repeat center center #062032;
}
.full_img_bg{
  width: 100%;
  height: 440rem;
  .w-1200{
    position: relative;
    height: 100%;
    .sub_txt{
      margin-left:20rem;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      width: 60%;
      color:#fff;
      .h2{
        line-height: 1.4em;
        font-size: 36rem;
        font-weight: 500;
      }
      span{
        display: inline-block;
        margin-top: 20rem;
        font-size: 18rem;
        line-height: 30rem;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  

}
.announce{
  .img_wrap{
    width: 75rem;
    height: 70rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.justify{
  .justify_con{
    display: flex;
    column-gap: 50rem;
    align-items: center;
    width: 1200rem;
    .img_wrap{
      display: inline-block;
      width: 300rem;
      height: 200rem;
      img{
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 2%;
      }
    }
    .txt_con{
      flex-grow: 1;
      width: 800rem;
      .txt{
        line-height: 1.6em;
        font-size: 18rem;
      }
    }
  }
}

.symptom{
  tr{
    margin-bottom: 20rem;
    display: flex;
  }
  .square_th{
    display: flex;
    padding: 15rem;
    justify-content: center;
    align-items: center;
    width: 180rem;
    font-size: 18rem;
    font-weight: 400;
    color:#fff;
    background-color: #d37d35;
    border: 1rem solid #dfdfdf;
  }
  .td2{
    position: relative;
    width: 40rem;
    hr{
      position: absolute;
      top:50%;
      left:0;
      transform: translateY(-50%);
      width: 100%;
      height: 1rem;
      border:none;
      background-color: #dedede;
    }
  }
  .square_td{
    width: 980rem;
    line-height: 1.6em;
    font-size: 16rem;
    font-weight: 400;
    color:#606060;
    text-align: left;
    padding:15rem;
    background-color: #f2f2f2;
    border: 1rem solid #dedede;
  }
}

.cause{
  .img_wrap{
    margin:0 auto 50rem;
    width: 700rem;
    height: 400rem;
    img{
      border-radius: 1%;
      border:1rem solid #ddd;
    }
  }
  .txt1{
    padding: 10rem 0;
    display: flex;
    align-items: center;
    column-gap: 20rem;
    font-size: 18rem;
    font-weight: 400;
    color: #606060;
    line-height: 1.4em;
    border-bottom: 1rem solid #eaeaea;
  }
  .orange_num{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    height: 36rem;
    font-size: 16rem;
    color:#fff;
    border-radius: 50%;
    background-color: #ee8418;
  }
}
.scar_treat{
  .circle_wrap_title{
    text-align: center;
    font-size: 25rem;
    font-weight: 700;
  }
  .circle_wrap{
    padding:30rem 0 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .circle{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150rem;
      height: 150rem;
      font-size: 18rem;
      font-weight: 500;
      color: #fff;
      border-radius: 50%;
      background: url(/img/common/round-glass.png) no-repeat center center ;
      background-color: #13326d;
      &:nth-child(2n-1){
        background-color: #1f6a89;
      }
      .img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .solution_title{
    margin:100rem 0 60rem;
    text-align: center;
    font-size: 25rem;
    font-weight: 700;
  }
  .solution{
    .solution_item{
      margin-bottom: 10rem;
      display: flex;
      width: 100%;
      &:last-child{
        margin:0;
      }
      .img_wrap{
        width: 25%;
        height: 200rem;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .txt_area{
        padding: 30rem;
        width: calc(100% - 25%);
        background-color: #f2f2f2;
        p{
          font-size: 22rem;
          font-weight: 600;
          color: #a7793c;
        }
        span{
          margin-top: 20rem;
          display: inline-block;
          line-height: 1.6em;
          font-size: 17rem;
        }
      }
    }
  }
}

.precause{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .marble{
    .txt1{
      padding: 10rem 0;
      display: flex;
      align-items: center;
      column-gap: 20rem;
      width: 590rem;
      font-size: 18rem;
      font-weight: 400;
      color: #606060;
      line-height: 1.4em;
      border-bottom: 1rem solid #eaeaea;
    }
    .orange_num{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36rem;
      height: 36rem;
      font-size: 16rem;
      color:#fff;
      border-radius: 20%;
      background-color: #ee8418;
    }
  }
  .img_wrap{
    width: 554rem;
    height: 370rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}



@media screen and (min-width:300rem) and (max-width:768rem){
  .symptom{
    .square_td{
      width: 50%;
    }
  }
}

@media screen and (min-width:769rem) and (max-width:3000rem){
  .symptom{
    .square_td{
      width: 980rem;
    }
  }
}