@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@font-face {
  font-family: 'NanumSquare';
  src: url("NanumSquareB.eot");
  font-weight: bold;
  font-style: normal;
}

@media (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 6.25%;
  margin: 0;
  padding: 0;
  font-family: 'NanumSquare', sans-serif;
  word-break: keep-all;
  overflow-x: hidden;
}

button {
  border: 0;
  outline: 0;
}

input[type="text"], input[type="textarea"], input[type="checkbox"], select, button {
  margin-right: 0;
  border: none;
  border-radius: 0;
  background: #fff;
}

h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

em, i, b, address {
  text-decoration: none;
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.strong {
  font-weight: 700;
}

.main_style {
  padding: 100rem 0;
  width: 100%;
  min-height: 300rem;
}

@media (max-width: 768px) {
  .main_style {
    padding: 0;
  }
}

.w-1200 {
  margin: 0 auto;
  width: 1200rem;
}

@media (max-width: 768px) {
  .w-1200 {
    width: 100%;
  }
}

.w-1200 .section_title {
  margin-bottom: 50rem;
  font-size: 36rem;
  color: #d8762c;
}

@media (max-width: 768px) {
  .w-1200 .section_title {
    text-align: center;
  }
}

#header {
  width: 100%;
  height: 150rem;
}

@media (max-width: 768px) {
  #header {
    height: 80rem;
  }
}

#header .logo_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100rem;
}

@media (max-width: 768px) {
  #header .logo_title {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80rem;
    border-bottom: 1rem solid #dfdfdf;
  }
}

#header .logo_title .call_btn {
  width: 40rem;
  height: 40rem;
}

@media (min-width: 769px) and (max-width: 1999px) {
  #header .logo_title .call_btn {
    display: none;
  }
}

#header .logo_title .call_btn img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

#header .logo_title .img_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500rem;
  height: 80rem;
}

@media (max-width: 768px) {
  #header .logo_title .img_wrap {
    width: 60%;
    height: 60rem;
  }
}

#header .logo_title .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#header .logo_title .mainmenu {
  width: 40rem;
  height: 40rem;
}

@media (min-width: 769px) and (max-width: 1999px) {
  #header .logo_title .mainmenu {
    display: none;
  }
}

#header .logo_title .mainmenu img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

#header .gnb {
  margin: 0 auto;
  width: 100%;
  height: 50rem;
  font-size: 18rem;
  border-top: 1rem solid #bcbcbc;
  border-bottom: 1rem solid #bcbcbc;
}

@media (max-width: 768px) {
  #header .gnb {
    display: none;
  }
}

#header .gnb .depth1 {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1300rem;
}

#header .gnb .depth1 li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  line-height: 50rem;
}

#header .gnb .depth1 .depth2 {
  position: absolute;
  z-index: 200;
  display: none;
  padding: 10rem;
  width: 100%;
  background-color: #fff;
}

#header .gnb .depth1 .depth2 li {
  padding: 10rem;
  text-align: left;
  font-size: 16rem;
  line-height: 10rem;
  border: none;
}

#header .gnb .depth1 .depth2 li:hover {
  background-color: #666;
}

#header .gnb .depth1 .depth2 li:hover a {
  color: #fff;
}

#header .gnb_mob {
  padding: 60rem 30rem;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 22rem;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 769px) and (max-width: 1999px) {
  #header .gnb_mob {
    display: none;
  }
}

#header .gnb_mob.active {
  right: -20%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: -10rem 0 20rem rgba(0, 0, 0, 0.3);
          box-shadow: -10rem 0 20rem rgba(0, 0, 0, 0.3);
}

#header .gnb_mob .menu_bg {
  display: none;
  position: absolute;
  z-index: -10;
  left: -20%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#header .gnb_mob .close_btn {
  position: absolute;
  top: 3%;
  right: 25%;
  width: 30rem;
  height: 30rem;
}

#header .gnb_mob .close_btn img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#header .gnb_mob .depth1 {
  font-weight: 700;
  color: #171717;
}

#header .gnb_mob .depth1 li {
  padding: 10rem 0;
}

#header .gnb_mob .depth1 a {
  color: #171717;
}

#header .gnb_mob .depth2 {
  display: none;
  padding: 7rem 0;
  font-size: 18rem;
  font-weight: 500;
}

#header .gnb_mob .depth2 li {
  padding: 5rem 0;
}

.side_quick_menu {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1%;
  z-index: 9999;
  width: 120rem;
}

@media (max-width: 768px) {
  .side_quick_menu {
    display: none;
  }
}

.side_quick_menu .quick_menu li {
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  font-size: 15rem;
}

.side_quick_menu .quick_menu li:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translateX(-30rem);
          transform: translateX(-30rem);
  cursor: pointer;
}

.side_quick_menu .quick_menu li:hover .img_wrap {
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #f59518;
}

.side_quick_menu .quick_menu li:last-child .img_wrap img {
  width: 60%;
  height: 60%;
}

.side_quick_menu .quick_menu li .img_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48rem;
  height: 48rem;
  border-radius: 50%;
  background-color: #454545;
}

.side_quick_menu .quick_menu li .img_wrap img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.side_quick_menu .quick_menu li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pc_img_slide {
  width: 100vw;
}

.pc_img_slide .swiper-slide {
  width: 100%;
  height: 100%;
}

.pc_img_slide .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pc_img_slide .swiper-button-prev {
  color: #fff;
  left: 3%;
}

.pc_img_slide .swiper-button-next {
  color: #fff;
  right: 4%;
}

@media (max-width: 768px) {
  .pc_img_slide {
    display: none;
  }
}

.mob_img_slide {
  width: 100vw;
}

@media (min-width: 769px) and (max-width: 1999px) {
  .mob_img_slide {
    display: none;
  }
}

.mob_img_slide .swiper-slide {
  width: 100%;
  height: 100%;
}

.mob_img_slide .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mob_img_slide .swiper-button-prev {
  color: #fff;
}

.mob_img_slide .swiper-button-next {
  color: #fff;
  right: 5%;
}

.quickmenu_mb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (min-width: 769px) and (max-width: 1999px) {
  .quickmenu_mb {
    display: none;
  }
}

.quickmenu_mb .bg_gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 25%;
  height: 100rem;
  background-color: #404040;
  border-right: 1rem solid #bdbdbd;
}

.quickmenu_mb .bg_gray .txt {
  color: #fff;
  font-size: 18rem;
  font-weight: 700;
}

.banner_menu .flex_5 {
  margin: 50rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .banner_menu .flex_5 {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.banner_menu .flex_5 li {
  width: 240rem;
  height: 250rem;
}

@media (max-width: 768px) {
  .banner_menu .flex_5 li:nth-child(3) {
    display: none;
  }
}

.banner_menu .flex_5 li a {
  position: relative;
  display: inline-block;
  width: 240rem;
  height: 250rem;
}

.banner_menu .flex_5 li a:hover::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.banner_menu .flex_5 li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fixed_banner {
  position: relative;
  height: 660rem;
  background: url(/img/main/bg_fixed.jpg) fixed no-repeat center center/cover;
}

@media (max-width: 768px) {
  .fixed_banner {
    width: 100%;
    height: 350rem;
    background: url(/img/main/bg_fixed.jpg) no-repeat center center/cover;
  }
}

.fixed_banner .txt_con {
  position: absolute;
  top: 30%;
  right: 15%;
  width: 600rem;
  height: 450rem;
  color: #fff;
}

@media (max-width: 768px) {
  .fixed_banner .txt_con {
    width: 60%;
    height: 220rem;
    top: 15%;
    right: 3%;
  }
}

.fixed_banner .txt_con .h2 {
  font-size: 42rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .fixed_banner .txt_con .h2 {
    font-size: 30rem;
  }
}

.fixed_banner .txt_con span {
  margin-top: 30rem;
  display: inline-block;
  font-size: 22rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 35rem;
}

@media (max-width: 768px) {
  .fixed_banner .txt_con span {
    font-size: 16rem;
    line-height: 1.5em;
  }
}

.notice_location {
  height: 100%;
  background-color: #efefef;
}

.notice_location .w-1200 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350rem;
}

@media (max-width: 768px) {
  .notice_location .w-1200 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20rem;
    height: 100%;
  }
}

.notice_location .w-1200 .notice {
  padding: 30rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-color: #fff;
}

@media (max-width: 768px) {
  .notice_location .w-1200 .notice {
    display: none;
  }
}

.notice_location .w-1200 .notice .notice_title {
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25rem;
  font-weight: 900;
  border-bottom: 1rem solid #bcbcbc;
}

.notice_location .w-1200 .notice .notice_title .view_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: #f59518;
}

.notice_location .w-1200 .notice .notice_title .view_more img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.notice_location .w-1200 .notice .notice_list {
  padding: 7rem 0;
}

.notice_location .w-1200 .notice .notice_list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16rem;
}

.notice_location .w-1200 .notice .notice_list ul li a {
  color: #666;
}

.notice_location .w-1200 .notice .notice_list ul li span {
  font-weight: 700;
  color: #ccc;
}

.notice_location .w-1200 .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.notice_location .w-1200 .location .txt_location {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20rem 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  text-align: center;
  width: 200rem;
  height: 100%;
  color: #fff;
  background-color: #404040;
}

.notice_location .w-1200 .location .txt_location .con {
  width: 100%;
}

.notice_location .w-1200 .location .txt_location .con .bold {
  font-size: 25rem;
  font-weight: 900;
}

.notice_location .w-1200 .location .txt_location .con span {
  margin-top: 30rem;
  display: inline-block;
  font-size: 18rem;
}

.notice_location .w-1200 .location .txt_location .con p {
  font-size: 17rem;
  font-weight: bold;
}

.notice_location .w-1200 .location .txt_location .con i {
  margin-top: 30rem;
  display: inline-block;
  color: #f59518;
  font-size: 25rem;
  font-weight: 900;
}

.notice_location .w-1200 .location .map_api {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  background-color: #f59518;
}

#footer {
  width: 100%;
}

#footer .fnb_section {
  width: 100%;
  height: 50rem;
  border-top: 1rem solid #bcbcbc;
  border-bottom: 1rem solid #bcbcbc;
}

@media (max-width: 768px) {
  #footer .fnb_section {
    display: none;
  }
}

#footer .fnb_section .fnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50rem;
  font-size: 16rem;
}

#footer .fnb_section .fnb li {
  padding: 0 35rem;
  border-right: 1rem solid #bcbcbc;
}

#footer .fnb_section .fnb li:last-child {
  border: none;
}

#footer .fnb_section .fnb li a:hover {
  color: #e75921;
}

#footer .address {
  margin: 0 auto;
  padding: 30rem 0;
  text-align: center;
  width: 100%;
  height: 300rem;
}

@media (max-width: 768px) {
  #footer .address {
    height: 100%;
    background-color: #efefef;
  }
}

#footer .address .img_wrap {
  margin: 0 auto;
  width: 280rem;
  height: 50rem;
}

#footer .address .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#footer .address .footer_con {
  margin: 50rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20rem;
  font-size: 16rem;
}

@media (max-width: 768px) {
  #footer .address .footer_con {
    margin-top: 30rem;
    row-gap: 10rem;
    font-size: 15rem;
    word-break: keep-all;
  }
}

#footer .address .footer_con li {
  padding: 0 30rem;
  border-right: 1rem solid #bcbcbc;
}

#footer .address .footer_con li:nth-child(n+4):nth-child(-n+5) {
  border: none;
}

#footer .address span {
  margin-top: 30rem;
  display: inline-block;
  font-size: 16rem;
}

.sub_style {
  padding: 80rem 0;
  width: 100%;
  min-height: 380rem;
}

.sub_style.bg01 {
  position: relative;
  background: url(/img/sub/sub_top/sub_top_01.jpg) center center/cover;
}

.sub_style.bg02 {
  position: relative;
  background: url(/img/sub/sub_top/sub_top_02.jpg) center center/cover;
}

.sub_style.bg03 {
  position: relative;
  background: url(/img/sub/sub_top/sub_top_03.jpg) center center/cover;
}

.sub_style.bg04 {
  position: relative;
  background: url(/img/sub/sub_top/sub_top_04.jpg) center center/cover;
}

.sub_style.bg05 {
  position: relative;
  background: url(/img/sub/sub_top/sub_top_05.jpg) center center/cover;
}

.sub_style.bg06 {
  position: relative;
  background: url(/img/sub/sub_top/sub_top_06.jpg) center center/cover;
}

.sub_style.bg07 {
  position: relative;
  background: url(/img/sub/sub_top/sub_top_07.jpg) center center/cover;
}

.sub_style.bg08 {
  position: relative;
  background: url(/img/sub/sub_top/sub_top_08.jpg) center center/cover;
}

@media (max-width: 768px) {
  .sub_style {
    padding: 80rem 25rem;
    width: 100%;
    min-height: 250rem;
  }
}

.sub_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380rem;
  background-color: rgba(16, 34, 105, 0.3);
}

@media (max-width: 768px) {
  .sub_top {
    height: 250rem;
  }
}

.sub_top .sub_top_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  min-width: 500rem;
  max-width: 670rem;
  color: #fff;
}

.sub_top .sub_top_txt .h1 {
  font-size: 54rem;
}

@media (max-width: 768px) {
  .sub_top .sub_top_txt .h1 {
    font-size: 40rem;
    font-weight: 900;
  }
}

.sub_top .sub_top_txt em {
  margin-top: 20rem;
  display: inline-block;
  font-size: 23rem;
}

@media (max-width: 768px) {
  .sub_top .sub_top_txt em {
    font-size: 16rem;
  }
}

.doc_intro {
  margin-bottom: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .doc_intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50rem;
  }
}

.doc_intro .txt_con {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  font-size: 18rem;
}

.doc_intro .txt_con .name {
  font-size: 34rem;
  font-weight: 300;
}

.doc_intro .txt_con .career {
  margin-top: 30rem;
}

.doc_intro .txt_con .career li {
  padding: 5rem 0;
}

.doc_intro .txt_con .career .strong {
  font-size: 24rem;
}

.doc_intro .img_wrap {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 600rem;
  height: 600rem;
}

@media (max-width: 768px) {
  .doc_intro .img_wrap {
    width: 100%;
  }
}

.doc_intro .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.doc_intro_ {
  background: url(/img/sub/doc_intro_01.jpg) no-repeat center center #a8a4a4;
}

.scar_treat_ {
  background: url(/img/sub/burnclinic02_03.jpg) no-repeat center center #062032;
}

.medical_clinic_01 {
  background: url(/img/sub/medicalclinic01_03.jpg) no-repeat center center #a8a09e;
}

.no_scar {
  background: url(/img/sub/medicalclinic02_02.jpg) no-repeat center center #46423c;
}

.full_img_bg {
  position: relative;
  width: 100%;
  height: 440rem;
}

@media (max-width: 768px) {
  .full_img_bg {
    height: 700rem;
  }
}

.full_img_bg .sub_txt {
  margin-left: 20rem;
  position: absolute;
  left: 20%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60%;
  color: #fff;
}

@media (max-width: 768px) {
  .full_img_bg .sub_txt {
    left: 0;
  }
}

.full_img_bg .sub_txt .h2 {
  line-height: 1.4em;
  font-size: 36rem;
  font-weight: 500;
}

.full_img_bg .sub_txt span {
  display: inline-block;
  margin-top: 20rem;
  font-size: 18rem;
  line-height: 30rem;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .full_img_bg .sub_txt span {
    font-size: 16rem;
    line-height: 1.4em;
  }
}

.announce {
  background-color: #7c7c7c;
}

.announce .flex_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
}

@media (max-width: 768px) {
  .announce .flex_3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20rem;
  }
}

.announce .flex_3 .flex_3_item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30rem;
  height: 300rem;
  background-color: #fff;
}

@media (max-width: 768px) {
  .announce .flex_3 .flex_3_item {
    text-align: center;
  }
}

.announce .flex_3 .flex_3_item .img_wrap {
  margin: 0 auto;
  width: 75rem;
  height: 70rem;
}

.announce .flex_3 .flex_3_item .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.announce .flex_3 .flex_3_item .h2 {
  margin-top: 25rem;
  font-size: 25rem;
}

.announce .flex_3 .flex_3_item .txt {
  margin-top: 10rem;
  font-size: 17rem;
  line-height: 1.6em;
}

.subj_intro {
  background-color: #ededed;
}

.subj_intro .h2 {
  font-size: 36rem;
  font-weight: medium;
  text-align: center;
}

.subj_intro .flex_4 {
  margin-top: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
}

@media (max-width: 768px) {
  .subj_intro .flex_4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20rem;
  }
}

.subj_intro .flex_4 .flex_4_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.subj_intro .flex_4 .flex_4_item .img_wrap {
  height: 235rem;
}

.subj_intro .flex_4 .flex_4_item .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.subj_intro .flex_4 .flex_4_item .txt_con {
  text-align: center;
  padding: 30rem;
  height: 170rem;
  background-color: #fff;
}

.subj_intro .flex_4 .flex_4_item .txt_con .h3 {
  margin-bottom: 15rem;
  font-size: 25rem;
  font-weight: 800;
  color: #ea5e1e;
}

.subj_intro .flex_4 .flex_4_item .txt_con span {
  font-size: 18rem;
  font-weight: 400;
  color: #454545;
  line-height: 1.5em;
}

.room_intro {
  color: #fff;
  height: 870rem;
  background: url(/img/sub/intro02_05.png) no-repeat center center/cover;
}

@media (max-width: 768px) {
  .room_intro {
    height: 100%;
  }
}

.room_intro .w-1200 {
  padding: 80rem 0;
}

@media (max-width: 768px) {
  .room_intro .w-1200 {
    padding: 0;
  }
}

.room_intro .thin {
  font-size: 15rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 10.5rem;
}

.room_intro .h2 {
  margin-top: 25rem;
  font-size: 50rem;
  font-weight: 300;
  letter-spacing: -1rem;
}

.room_intro .h2 span {
  font-weight: bold;
}

.room_intro ul {
  margin-top: 30rem;
  overflow: hidden;
  width: 550rem;
}

@media (max-width: 768px) {
  .room_intro ul {
    width: 100%;
  }
}

.room_intro ul li {
  padding: 20rem 0;
  font-size: 20rem;
  font-weight: 400;
  color: #fff;
  border-bottom: 1rem solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .room_intro ul li {
    font-size: 16rem;
  }
}

.room_intro ul li .strong {
  padding-right: 50rem;
  display: inline-block;
  color: #fdffab;
  font-weight: 900;
  border-right: 1rem solid #fdffab;
}

.room_intro ul li .txt {
  display: inline-block;
  padding-left: 50rem;
}

.room_img_slide .h2 {
  text-align: center;
  font-size: 36rem;
  font-weight: 700;
  color: #b48b4e;
}

.room_img_slide p {
  margin-top: 20rem;
  text-align: center;
  font-size: 18rem;
  color: 707070;
}

.room_img_slide .room_slide {
  margin: 50rem auto;
  width: 950rem;
  height: 450rem;
}

@media (max-width: 768px) {
  .room_img_slide .room_slide {
    width: 100%;
    height: 250rem;
  }
}

.room_img_slide .room_slide .swiper-slide {
  width: 100%;
  height: 450rem;
}

@media (max-width: 768px) {
  .room_img_slide .room_slide .swiper-slide {
    height: 250rem;
  }
}

.room_img_slide .room_slide .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.room_img_slide .room_slide .swiper-button-next {
  color: #fff;
  right: 3%;
}

.room_img_slide .room_slide .swiper-button-prev {
  color: #fff;
  left: 3%;
}

.room_img_slide .txt_con p {
  text-align: left;
  font-size: 24rem;
  font-weight: bold;
}

.room_img_slide .txt_con span {
  margin-top: 30rem;
  display: inline-block;
  line-height: 1.6em;
  font-size: 18rem;
  font-weight: normal;
  color: #707070;
}

.hwa_ {
  height: 800rem;
  background-color: #747789;
}

@media (max-width: 768px) {
  .hwa_ {
    height: 100%;
  }
}

.hwa_ .h2 {
  text-align: center;
  font-size: 33rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 7rem;
}

@media (max-width: 768px) {
  .hwa_ .h2 {
    font-size: 25rem;
  }
}

.hwa_ .img_set {
  margin: 50rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100rem;
}

@media (max-width: 768px) {
  .hwa_ .img_set {
    max-width: 600rem;
    width: 85%;
  }
}

.hwa_ .img_set .img_wrap {
  margin-right: -60rem;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 768px) {
  .hwa_ .img_set .img_wrap {
    margin-right: -15rem;
  }
}

.hwa_ .img_set .img_wrap .txt_con {
  position: absolute;
  left: 6%;
  bottom: 5%;
  color: #fff;
  letter-spacing: -1rem;
}

.hwa_ .img_set .img_wrap .txt_con .thin {
  font-size: 17rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .hwa_ .img_set .img_wrap .txt_con .thin {
    display: none;
  }
}

.hwa_ .img_set .img_wrap .txt_con .medium {
  margin-top: 10rem;
  font-size: 25rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .hwa_ .img_set .img_wrap .txt_con .medium {
    max-width: 80rem;
    font-size: 10rem;
  }
}

.hwa_ .img_set .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.justify .justify_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50rem;
          column-gap: 50rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200rem;
}

@media (max-width: 768px) {
  .justify .justify_con {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30rem;
  }
}

.justify .justify_con .img_wrap {
  width: 300rem;
  height: 200rem;
}

.justify .justify_con .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 2%;
}

.justify .justify_con .txt_con {
  width: 800rem;
}

@media (max-width: 768px) {
  .justify .justify_con .txt_con {
    width: 90%;
  }
}

.justify .justify_con .txt_con .txt {
  line-height: 1.6em;
  font-size: 18rem;
}

.symptom tr {
  margin-bottom: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .symptom tr {
    width: 100%;
  }
}

.symptom .square_th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180rem;
  font-size: 18rem;
  font-weight: 400;
  color: #fff;
  background-color: #d37d35;
  border: 1rem solid #dfdfdf;
}

@media (max-width: 768px) {
  .symptom .square_th {
    width: 30%;
  }
}

.symptom .td2 {
  position: relative;
  width: 40rem;
}

@media (max-width: 768px) {
  .symptom .td2 {
    width: 5%;
  }
}

.symptom .td2 hr {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 1rem;
  border: none;
  background-color: #dedede;
}

.symptom .square_td {
  width: 980rem;
  line-height: 1.6em;
  font-size: 16rem;
  font-weight: 400;
  color: #606060;
  text-align: left;
  padding: 15rem;
  background-color: #f2f2f2;
  border: 1rem solid #dedede;
}

@media (max-width: 768px) {
  .symptom .square_td {
    width: 65%;
  }
}

.cause .img_wrap {
  margin: 0 auto 50rem;
  width: 700rem;
  height: 400rem;
}

@media (max-width: 768px) {
  .cause .img_wrap {
    width: 100%;
    height: 300rem;
  }
}

.cause .img_wrap img {
  border-radius: 1%;
  border: 1rem solid #ddd;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cause .txt1 {
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 18rem;
  font-weight: 400;
  color: #606060;
  word-break: break-all;
  line-height: 1.4em;
  border-bottom: 1rem solid #eaeaea;
}

.cause .txt1:last-child {
  border-bottom: none;
}

.cause .txt1 .orange_num {
  margin-right: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36rem;
  height: 36rem;
  font-size: 16rem;
  color: #fff;
  border-radius: 50%;
  background-color: #ee8418;
}

.cause .txt1 p {
  width: 90%;
}

.scar_treat .circle_wrap_title {
  text-align: center;
  font-size: 25rem;
  font-weight: 700;
}

.scar_treat .circle_wrap {
  padding: 30rem 0 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .scar_treat .circle_wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30rem;
            column-gap: 30rem;
    row-gap: 30rem;
  }
}

.scar_treat .circle_wrap .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150rem;
  height: 150rem;
  font-size: 18rem;
  font-weight: 500;
  color: #fff;
  border-radius: 50%;
  background: url(/img/common/round-glass.png) no-repeat center center;
  background-color: #13326d;
}

.scar_treat .circle_wrap .circle:nth-child(2n-1) {
  background-color: #1f6a89;
}

.scar_treat .circle_wrap .circle .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.solution_title {
  margin: 100rem 0 60rem;
  text-align: center;
  font-size: 25rem;
  font-weight: 700;
}

.solution .solution_item {
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.solution .solution_item:last-child {
  margin: 0;
}

@media (max-width: 768px) {
  .solution .solution_item {
    height: 280rem;
  }
}

.solution .solution_item .img_wrap {
  width: 25%;
  height: 100%;
}

@media (max-width: 768px) {
  .solution .solution_item .img_wrap {
    width: 35%;
    height: 100%;
  }
}

.solution .solution_item .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.solution .solution_item .txt_area {
  padding: 30rem;
  width: calc(100% - 25%);
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .solution .solution_item .txt_area {
    width: calc(100% - 35%);
  }
}

.solution .solution_item .txt_area p {
  font-size: 22rem;
  font-weight: 600;
  color: #a7793c;
}

.solution .solution_item .txt_area span {
  margin-top: 20rem;
  display: inline-block;
  line-height: 1.6em;
  font-size: 17rem;
}

@media (max-width: 768px) {
  .solution .solution_item .txt_area span {
    font-size: 15rem;
  }
}

.precause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .precause {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30rem;
  }
}

@media (max-width: 768px) {
  .precause .marble {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.precause .marble .txt1 {
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20rem;
          column-gap: 20rem;
  width: 590rem;
  height: 100%;
  font-size: 18rem;
  font-weight: 400;
  color: #606060;
  line-height: 1.4em;
  border-bottom: 1rem solid #eaeaea;
}

.precause .marble .txt1:last-child {
  border-bottom: none;
}

.precause .marble .txt1 .orange_num {
  margin-right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36rem;
  height: 36rem;
  font-size: 16rem;
  color: #fff;
  border-radius: 20%;
  background-color: #ee8418;
}

.precause .marble .txt1 p {
  width: 90%;
}

@media (max-width: 768px) {
  .precause .marble .txt1 {
    width: 100%;
  }
}

.precause .img_wrap {
  width: 554rem;
  height: 370rem;
}

@media (max-width: 768px) {
  .precause .img_wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}

.precause .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.caution {
  padding: 50rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20rem;
}

@media (max-width: 768px) {
  .caution {
    padding: 0;
  }
}

.caution li {
  padding: 30rem 20rem;
  text-align: center;
  width: 100%;
  font-size: 20rem;
  color: #fff;
  border-radius: 40rem;
  background: -webkit-gradient(linear, left top, right top, from(#864065), to(#8f4a5d));
  background: linear-gradient(to right, #864065, #8f4a5d);
}

.medic_system .w-1200 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50rem;
          column-gap: 50rem;
}

@media (max-width: 768px) {
  .medic_system .w-1200 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30rem;
  }
}

.medic_system .img_wrap {
  width: 300rem;
  height: 300rem;
}

@media (max-width: 768px) {
  .medic_system .img_wrap {
    width: 100%;
  }
}

.medic_system .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.medic_system .txt_box .h4 {
  font-size: 30rem;
  font-weight: 600;
  color: #3596d3;
}

.medic_system .txt_box hr {
  margin: 20rem 0;
  text-align: left;
  width: 40rem;
  height: 1rem;
  border: none;
  background-color: #dedede;
}

.medic_system .txt_box .counsel li {
  padding: 10rem 0;
  font-size: 16rem;
  color: #808080;
}

.medic_system .txt_box .counsel li .disc {
  margin-right: 6rem;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #454545;
}

.medic_system .txt_box .medic_step {
  margin-top: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60rem;
          column-gap: 60rem;
  width: 100%;
}

.medic_system .txt_box .medic_step li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18rem;
  color: #fff;
  width: 120rem;
  height: 120rem;
  border-radius: 50%;
  background-color: #9ebddc;
}

.medic_system .txt_box .medic_step li:nth-child(1)::after {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: -100;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 360rem;
  height: 50rem;
  background: url(/img/sub/medicalclinic01_05.png) no-repeat right center/cover;
}

.medic_system .txt_box .medic_step li:nth-child(2) {
  background-color: #345899;
}

.medic_system .txt_box .medic_step li:nth-child(3) {
  background-color: #2b497b;
}

.big_marble_wrap {
  margin-bottom: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30rem;
          column-gap: 30rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .big_marble_wrap {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30rem;
  }
}

.big_marble_wrap .big_marble {
  padding: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 220rem;
  color: #fff;
  text-align: center;
  border-radius: 10%;
  background: url(/img/common/round-glass.png) no-repeat center center #c97c3d;
}

.big_marble_wrap .big_marble:nth-child(2n+1) {
  background-color: #cabd93;
}

.big_marble_wrap .big_marble p {
  font-size: 30rem;
  font-weight: bold;
}

.big_marble_wrap .big_marble hr {
  text-align: center;
  margin: 30rem 0;
  width: 185rem;
  height: 1rem;
  border: none;
  background-color: #fff;
}

.big_marble_wrap .big_marble span {
  font-size: 18rem;
  font-weight: normal;
}

.map_full {
  width: 100%;
  height: 600rem;
  background-color: antiquewhite;
}

@media (max-width: 768px) {
  .map_full {
    height: 300rem;
  }
}

.location_0104 .location {
  margin-top: 80rem;
  width: 100%;
  height: 100%;
}

.location_0104 .location .way_to_go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50rem;
          column-gap: 50rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30rem;
  height: 230rem;
  font-size: 18rem;
  border-bottom: 1rem solid #bcbcbc;
}

@media (max-width: 768px) {
  .location_0104 .location .way_to_go {
    height: 100%;
  }
}

.location_0104 .location .way_to_go img {
  width: 95rem;
  height: 95rem;
}

.location_0104 .location .way_to_go .txt_con {
  width: 100%;
  color: #252525;
}

.location_0104 .location .way_to_go .txt_con .h3 {
  margin-bottom: 20rem;
  font-size: 20rem;
  font-weight: 900;
}

.location_0104 .location .way_to_go .txt_con .brt {
  margin-bottom: 15rem;
  display: block;
  height: 20rem;
  font-weight: 700;
  color: #e75921;
}

.location_0104 .location .way_to_go .txt_con p {
  padding: 5rem 0;
}

.location_0104 .location .way_to_go .txt_con .bus_green {
  font-weight: 700;
  color: #206c1e;
}

.location_0104 .location .way_to_go .txt_con .subway_green {
  font-weight: 700;
  color: #52ae25;
}

.location_0104 .location .way_to_go .txt_con .subway_blue {
  font-weight: 700;
  color: #628fb2;
}

.location_0104 .location .way_to_go .txt_con .car_green {
  font-weight: 700;
  color: #1c9370;
}

.location_0104 .location .way_to_go:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 180rem;
  color: #fff;
  background-color: #3891d6;
  border: none;
}

.location_0104 .location .way_to_go:first-child .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20rem;
          column-gap: 20rem;
  height: 40rem;
  font-size: 20rem;
  font-weight: 700;
}

.location_0104 .location .way_to_go:first-child .info .white_marble {
  display: inline-block;
  text-align: center;
  line-height: 35rem;
  width: 100rem;
  height: 35rem;
  font-weight: 900;
  border-radius: 17rem;
  color: #3891d6;
  background-color: #fff;
}

.location_0104 .location .way_to_go:first-child .info .img_wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37rem;
  height: 37rem;
}

.location_0104 .location .way_to_go:first-child .info .img_wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.location_0104 .location .way_to_go:last-child {
  border: none;
}

.intro_img_slide {
  width: 1000rem;
  height: 100%;
}

@media (max-width: 768px) {
  .intro_img_slide {
    width: 100%;
    height: 400rem;
  }
}

.intro_img_slide .swiper-slide {
  width: 100%;
}

.intro_img_slide .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro_img_slide .swiper-button-prev {
  color: #fff;
}

.intro_img_slide .swiper-button-next {
  color: #fff;
}

.thumb_slider {
  padding-top: 30rem;
  width: 1000rem;
  height: 150rem;
}

@media (max-width: 768px) {
  .thumb_slider {
    padding-top: 20rem;
    width: 100%;
    height: 80rem;
  }
}

.thumb_slider .swiper-slide {
  height: 100%;
  opacity: 0.6;
}

.thumb_slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumb_slider .swiper-slide-thumb-active {
  opacity: 1;
  border: 4rem solid #0091ff;
}
